*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: none;
	box-sizing: inherit;
}

:root {
	// Colors
	--color-red: #ea5353;
	--color-cyan: #45d3d3;
	--color-orange: #fcaf4a;
	--color-blue: #549ef2;

	--color-primary-blue: #4c4e61;
	--color-secondary-blue: #a3a5ae;
	--color-grey-light: #fafafa;

	// Fonts
	--root-font-size: 1.5rem;
	--root-font-family: 'Poppins', sans-serif;

	--font-weight-light: 200;
	--font-weight-medium: 400;
	--font-weight-heavy: 600;

	--box-shadow: 5px 5px 1.5rem rgba(0, 0, 0, 0.25);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: var(--root-font-size);
	font-family: var(--root-font-family);
	color: var(--color-secondary-blue);
}

h1,
h2,
h3 {
	color: var(--color-primary-blue);
}

.fourCardFeature {
	max-width: 90%;
	margin: 2rem auto;
	box-shadow: var(--box-shadow);
	background-color: var(--color-grey-light);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem;

	&__description {
		max-width: 30%;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.7rem;
	}
}

.heading {
	margin-bottom: 1rem;
	&__title {
		font-weight: var(--font-weight-light);
	}

	&__subtitle {
	}
}

.cards {
	display: flex;
	align-items: center;
	max-width: 60%;
	padding: 0 5rem;
	padding-bottom: 10rem;
	margin: 0 auto;
}

.vertical-cards {
	display: flex;
	flex-direction: column;

	& > *:not(:last-child) {
		margin-bottom: 5rem;
	}
}

.card {
	box-shadow: var(--box-shadow);
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
  margin-right: 2rem;

	&__title {
		font-size: inherit;
		margin-bottom: 0.8rem;
		font-weight: var(--font-weight-heavy);
	}

	&__description {
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 3rem;
	}

	&__icon {
		align-self: flex-end;
	}

	&--cyan {
		border-top: 4px solid var(--color-cyan);
	}

	&--red {
		border-top: 4px solid var(--color-red);
	}

	&--orange {
		border-top: 4px solid var(--color-orange);
	}

	&--blue {
		border-top: 4px solid var(--color-blue);
	}
}

@media screen and (max-width: 375px) {
	.fourCardFeature {
		max-width: 100%;
	}

	.header__description {
		max-width: none;
		font-size: 1.4rem;
		line-height: 2.5rem;
	}

	.cards {
		flex-direction: column;
		max-width: 100%;
		margin: auto;

		& > *:not(:last-child) {
			margin-bottom: 2.5rem;
		}
	}

  .card {
    margin-right: 0;
  }

	.vertical-cards {
		& > *:not(:last-child) {
			margin-bottom: 2.5rem;
		}
	}
}
